Cegep Heritage/Year 3/Web Programming V/Assignments/aha_C50_A01/PartA/invoice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 3 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="invoice">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="info" maxOccurs="1"/>
				<xs:element ref="client" maxOccurs="1"/>
				<xs:element ref="workRecord" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="invoiceDate"/>
				<xs:element ref="billRate"/>
			</xs:sequence>
			<xs:attribute name="invoiceNumber" use="required" type="xs:integer" />
		</xs:complexType>
	</xs:element>
	<xs:element name="client">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="contactLastName"/>
				<xs:element ref="contactFirstName"/>
				<xs:element ref="clientStreet"/>
				<xs:element ref="clientCity"/>
				<xs:element ref="clientProvince"/>
				<xs:element ref="clientPostalCode"/>
				<xs:element ref="clientDiscount"/>
			</xs:sequence>
			<xs:attribute name="clientId" use="required" type="xs:integer" />
		</xs:complexType>
	</xs:element>
	<xs:element name="billedHours" type="xs:integer" />
	<xs:element name="billRate" type="xs:integer" />
	<xs:element name="contactLastName" type="xs:string" />
	<xs:element name="contactFirstName" type="xs:string" />
	<xs:element name="clientStreet" type="xs:string" />
	<xs:element name="clientProvince"  type="xs:string" />
	<xs:element name="clientPostalCode" type="xs:string" />
	<xs:element name="clientDiscount" type="xs:float" />
	<xs:element name="clientCity" type="xs:string" />
	<xs:element name="workRecord">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="billedHours"/>
				<xs:element ref="workDate"/>
				<xs:element ref="workDescription"/>
				<xs:element ref="workTypeNumber"/>
			</xs:sequence>
			<xs:attribute name="workNumber" use="required" type="xs:integer" />
		</xs:complexType>
	</xs:element>
	<xs:element name="workDescription" type="xs:string" />
	<xs:element name="workDate" type="xs:date" />
	<xs:element name="invoiceDate" type="xs:date" />
	<xs:element name="workTypeNumber">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="CA"/>
				<xs:enumeration value="HA"/>
				<xs:enumeration value="DA"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
