Year 3/Web Programming V/Assignments/aha_C50_A02/PartD/invoice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 rel. 3 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="invoice">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="info" maxOccurs="1"/>
				<xs:element ref="client" maxOccurs="1"/>
				<xs:element ref="work_record" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="invoice_date"/>
				<xs:element ref="bill_rate"/>
			</xs:sequence>
			<xs:attribute name="invoice_number" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="client">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Client_Name"/>
				<xs:element ref="Contact_Lastname"/>
				<xs:element ref="Contact_Firstname"/>
				<xs:element ref="Client_Street"/>
				<xs:element ref="Client_City"/>
				<xs:element ref="Client_Province"/>
				<xs:element ref="Client_Postalcode"/>
				<xs:element ref="Client_Discount"/>
			</xs:sequence>
			<xs:attribute name="Client_Id" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="billed_hours" type="xs:integer"/>
	<xs:element name="bill_rate" type="xs:integer"/>
	<xs:element name="Contact_Lastname" type="xs:string"/>
	<xs:element name="Contact_Firstname" type="xs:string"/>
	<xs:element name="Client_Street" type="xs:string"/>
	<xs:element name="Client_Province" type="xs:string"/>
	<xs:element name="Client_Postalcode" type="xs:string"/>
	<xs:element name="Client_Name" type="xs:string"/>
	<xs:element name="Client_Discount" type="xs:float"/>
	<xs:element name="Client_City" type="xs:string"/>
	<xs:element name="work_record">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="billed_hours"/>
				<xs:element ref="work_date"/>
				<xs:element ref="work_description"/>
				<xs:element ref="work_type_number"/>
			</xs:sequence>
			<xs:attribute name="work_number" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="work_description" type="xs:string"/>
	<xs:element name="work_date" type="xs:date"/>
	<xs:element name="invoice_date" type="xs:date"/>
	<xs:element name="work_type_number">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="CA"/>
				<xs:enumeration value="HA"/>
				<xs:enumeration value="DA"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
